:root {
    --text: #1D1D1B;
    --bg: #F5F5F5;
    --gray: #dcdada;
    --light-gray-blue: #6161d2;
    --light-orange: #ef8a37;
    --light-pinky-red: #d05954;
}

/* Headings */
@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton-Regular.woff2') format('woff2'),
         url('/fonts/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Text */
@font-face {
    font-family: 'Editorial New';
    src: url('/fonts/EditorialNew-Regular.woff2') format('woff2'),
         url('/fonts/EditorialNew-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Roboto Mono */
@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-VariableFont_wght.woff2') format('woff2'),
         url('/fonts/RobotoMono-VariableFont_wght.woff') format('woff');
    font-weight: 100 700;
    font-style: normal;
}

html {
    font-family: 'Editorial New', serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--text);
    background-color: var(--light-gray-blue);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-weight: normal;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

i {
    font-style: italic;
}

p {
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 7.5rem;
}

::selection{
    background-color: var(--text);
    color: var(--bg);
}

header,
footer {
    transition: background-color 0.3s ease;
}

[data-color="var(--light-gray-blue)"] {
    background-color: var(--light-gray-blue);
}

[data-color="var(--light-orange)"] {
    background-color: var(--light-orange);
}

[data-color="var(--light-pinky-red)"] {
    background-color: var(--light-pinky-red);
}

[data-color="var(--bg)"] {
    background-color: var(--bg);
}

main {
    position: fixed;
    top: 2.5rem;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    position: relative;
}

.title {
    font-size: 17vw;
    line-height: .9;
    padding: 2rem 0 8rem;
}

#cronologia .title {
    padding: 2rem 0 4rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 4rem;
}

#notes-menu {
    display: none;
}

#reflexio {
    position: relative;
    height: 400vh;
    width: 100dvw;
    pointer-events: none;
}

#reflexio h2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 17vw;
    line-height: 1;
    text-align: center;
    padding: 0 1rem;
    z-index: 2;
    max-width: 64rem;
}

@media (min-width: 900px) {

    .content {
        flex-direction: row;
        padding: 0 1.5rem;
        min-height: 100vh;
        overflow: visible;
    }

    .content::before,
    .content::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        background: var(--text);
    }

    .content::before {
        left: 1.5rem;
    }

    .content::after {
        right: 1.5rem;
    }

    .center-line {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 2px;
        background: var(--text);
        transform: translateX(-50%);
    }

    .title {
        position: sticky;
        top: 0;
        font-size: 7.5vw;
        height: fit-content;
    }

    p {
        font-size: 2rem;
    }

    .text {
        padding-top: 64vh;
        min-height: 150vh;
        overflow-y: auto;
    }

    .title,
    .text,
    .years {
        flex: 1;
        margin: 0 1.5rem;
    }

    #notes-menu {
        position: fixed;
        left: 3rem;
        bottom: 3.5rem;
        z-index: 100;
        display: flex;
        flex-direction: column;
        font-family: 'Editorial New', serif;
        font-weight: 400;
        font-size: 2rem;
    }

    #notes-menu a {
        display: block;
        padding: .25rem 4rem .25rem 0;
        color: var(--text);
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    #notes-menu a.active {
        color: var(--text);
    }

    #notes-menu a:not(:last-child) {
        border-bottom: 1px dashed var(--text);
    }
    
    #notes-menu a.hide {
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }

    #reflexio h2 {
        font-size: 7.5vw;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 1.5rem;
    }
}