:root {
    --text: #1D1D1B;
    --bg: #F5F5F5;
    --gray: #959589;
    --light-gray-blue: #EAF1F7;
    --light-orange: #FFF1DD;
    --light-pinky-red: #fbe4e5;
}

/* Headings */
@font-face {
    font-family: 'Cardinal Fruit';
    src: url('/fonts/cardinal-fruit.woff2') format('woff2'),
         url('/fonts/cardinal-fruit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cardinal Fruit';
    src: url('/fonts/cardinal-fruit-italic.woff2') format('woff2'),
            url('/fonts/cardinal-fruit-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cardinal Fruit';
    src: url('/fonts/cardinal-fruit-medium.woff2') format('woff2'),
         url('/fonts/cardinal-fruit-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* Text */
@font-face {
    font-family: 'Editorial New';
    src: url('/fonts/EditorialNew-Light.woff2') format('woff2'),
         url('/fonts/EditorialNew-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('/fonts/EditorialNew-Regular.woff2') format('woff2'),
         url('/fonts/EditorialNew-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

html {
    font-family: 'Editorial New', serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
    color: var(--text);
    background-color: var(--bg);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cardinal Fruit', serif;
    font-weight: normal;
    letter-spacing: -0.04em;
}

i {
    font-style: italic;
}

p {
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 7.5rem;
}

::selection{
    background-color: var(--text);
    color: var(--bg);
}

header,
footer {
    transition: background-color 0.3s ease;
}

[data-color="var(--light-gray-blue)"] {
    background-color: var(--light-gray-blue);
}

[data-color="var(--light-orange)"] {
    background-color: var(--light-orange);
}

[data-color="var(--light-pinky-red)"] {
    background-color: var(--light-pinky-red);
}

main {
    position: fixed;
    top: 2.5rem;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    overflow-y: auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    position: relative;
}

.title {
    font-size: 17vw;
    line-height: .8;
    padding: 2rem 0 8rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 4rem;
}

#notes-menu {
    display: none;
}

@media (min-width: 900px) {

    .content {
        flex-direction: row;
        padding: 0 1.5rem;
        min-height: 100vh;
        overflow: visible;
    }

    .content::before,
    .content::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background: var(--gray);
    }

    .content::before {
        left: 1.5rem;
    }

    .content::after {
        right: 1.5rem;
    }

    .center-line {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        background: var(--gray);
        transform: translateX(-50%);
    }

    .title {
        position: sticky;
        top: 0;
        font-size: 7.5vw;
        height: fit-content;
    }

    p {
        font-size: 2rem;
    }

    .text {
        padding-top: 64vh;
        min-height: 150vh;
        overflow-y: auto;
    }

    .title,
    .text,
    .years {
        flex: 1;
        margin: 0 1.5rem;
    }

    #notes-menu {
        position: fixed;
        left: 3rem;
        bottom: 3.5rem;
        z-index: 100;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        font-family: 'Cardinal Fruit', serif;
        font-weight: 500;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
    }

    #notes-menu a {
        display: block;
        padding-right: 8rem;
        color: var(--gray);
        transition: color 0.3s ease;

        &:hover {
            color: var(--text);
        }
    }

    #notes-menu a:not(:last-child) {
        border-bottom: 1px dashed var(--gray);
    }
}