/* TYPOGRAPHY */
/* Define fuentes, tamaños de texto, y jerarquía tipográfica. */

/* Headings */
@font-face {
    font-family: 'Cardinal Fruit';
    src: url('/fonts/cardinal-fruit.woff2') format('woff2'),
         url('/fonts/cardinal-fruit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cardinal Fruit';
    src: url('/fonts/cardinal-fruit-italic.woff2') format('woff2'),
            url('/fonts/cardinal-fruit-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cardinal Fruit';
    src: url('/fonts/cardinal-fruit-medium.woff2') format('woff2'),
         url('/fonts/cardinal-fruit-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* Text */
@font-face {
    font-family: 'Editorial New';
    src: url('/fonts/EditorialNew-Light.woff2') format('woff2'),
         url('/fonts/EditorialNew-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('/fonts/EditorialNew-Regular.woff2') format('woff2'),
         url('/fonts/EditorialNew-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Roboto Mono variable, Serif Regular, Slab Regular, Roboto Regular i Roboto Condensed Regular */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Roboto+Condensed:wght@400&family=Roboto+Mono:wght@100..700&family=Roboto+Serif:wght@400&family=Roboto+Slab:wght@400&display=swap');
